#include <physical_layouts.dtsi>

/ {
    redox_studio_physical_layout: redox_studio_physical_layout {
        compatible = "zmk,physical-layout";
        display-name = "Redox Studio";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 125 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  125   38       0     0     0>
            , <&key_physical_attrs 100 100  225   12       0     0     0>
            , <&key_physical_attrs 100 100  325    0       0     0     0>
            , <&key_physical_attrs 100 100  425   12       0     0     0>
            , <&key_physical_attrs 100 100  525   25       0     0     0>
            , <&key_physical_attrs 100 100 1225   25       0     0     0>
            , <&key_physical_attrs 100 100 1325   12       0     0     0>
            , <&key_physical_attrs 100 100 1425    0       0     0     0>
            , <&key_physical_attrs 100 100 1525   12       0     0     0>
            , <&key_physical_attrs 100 100 1625   38       0     0     0>
            , <&key_physical_attrs 125 100 1725   38       0     0     0>
            , <&key_physical_attrs 125 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  125  138       0     0     0>
            , <&key_physical_attrs 100 100  225  112       0     0     0>
            , <&key_physical_attrs 100 100  325  100       0     0     0>
            , <&key_physical_attrs 100 100  425  112       0     0     0>
            , <&key_physical_attrs 100 100  525  125       0     0     0>
            , <&key_physical_attrs 100 100  625   75       0     0     0>
            , <&key_physical_attrs 100 100 1125   75       0     0     0>
            , <&key_physical_attrs 100 100 1225  125       0     0     0>
            , <&key_physical_attrs 100 100 1325  112       0     0     0>
            , <&key_physical_attrs 100 100 1425  100       0     0     0>
            , <&key_physical_attrs 100 100 1525  112       0     0     0>
            , <&key_physical_attrs 100 100 1625  138       0     0     0>
            , <&key_physical_attrs 125 100 1725  138       0     0     0>
            , <&key_physical_attrs 125 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  125  238       0     0     0>
            , <&key_physical_attrs 100 100  225  212       0     0     0>
            , <&key_physical_attrs 100 100  325  200       0     0     0>
            , <&key_physical_attrs 100 100  425  212       0     0     0>
            , <&key_physical_attrs 100 100  525  225       0     0     0>
            , <&key_physical_attrs 100 150  625  175       0     0     0>
            , <&key_physical_attrs 100 150 1125  175       0     0     0>
            , <&key_physical_attrs 100 100 1225  225       0     0     0>
            , <&key_physical_attrs 100 100 1325  212       0     0     0>
            , <&key_physical_attrs 100 100 1425  200       0     0     0>
            , <&key_physical_attrs 100 100 1525  212       0     0     0>
            , <&key_physical_attrs 100 100 1625  238       0     0     0>
            , <&key_physical_attrs 125 100 1725  238       0     0     0>
            , <&key_physical_attrs 125 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  125  338       0     0     0>
            , <&key_physical_attrs 100 100  225  312       0     0     0>
            , <&key_physical_attrs 100 100  325  300       0     0     0>
            , <&key_physical_attrs 100 100  425  312       0     0     0>
            , <&key_physical_attrs 100 100  525  325       0     0     0>
            , <&key_physical_attrs 100 100  675  375       0     0     0>
            , <&key_physical_attrs 100 100  775  375       0     0     0>
            , <&key_physical_attrs 100 100  975  375       0     0     0>
            , <&key_physical_attrs 100 100 1075  375       0     0     0>
            , <&key_physical_attrs 100 100 1225  325       0     0     0>
            , <&key_physical_attrs 100 100 1325  312       0     0     0>
            , <&key_physical_attrs 100 100 1425  300       0     0     0>
            , <&key_physical_attrs 100 100 1525  312       0     0     0>
            , <&key_physical_attrs 100 100 1625  338       0     0     0>
            , <&key_physical_attrs 125 100 1725  338       0     0     0>
            , <&key_physical_attrs 100 100   25  438       0     0     0>
            , <&key_physical_attrs 100 100  125  438       0     0     0>
            , <&key_physical_attrs 100 100  225  412       0     0     0>
            , <&key_physical_attrs 100 100  325  400       0     0     0>
            , <&key_physical_attrs 125 100  550  525       0     0     0>
            , <&key_physical_attrs 100 150  675  475       0     0     0>
            , <&key_physical_attrs 100 150  775  475       0     0     0>
            , <&key_physical_attrs 100 150  975  475       0     0     0>
            , <&key_physical_attrs 100 150 1075  475       0     0     0>
            , <&key_physical_attrs 125 100 1175  525       0     0     0>
            , <&key_physical_attrs 100 100 1425  400       0     0     0>
            , <&key_physical_attrs 100 100 1525  412       0     0     0>
            , <&key_physical_attrs 100 100 1625  438       0     0     0>
            , <&key_physical_attrs 100 100 1725  438       0     0     0>
            ;
    };
};